.body {
    width: 100%;
    min-height: 90vh;
    margin: 0%;
    padding: 0%;
    background-color: #ffff;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: sans-serifs;
    background-color: #FEFEFE;  
    height: 70px;
    margin-top: 0px;
}
.logo {
    height: 90px;
    width: 200px;
    border-radius: 50%;
}
.logo img {
    height: 60px;
    width: 50px;
    object-fit: contain ;
    
}
nav {
    margin-right: 20px;
    cursor: pointer;
}
h5{
   padding: 0%;
   margin-bottom: 3%;
   color: black;
}